*{padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body {
    background-image: url(photo.jpg);
    width: 100%;
    height: 100%;
    background-repeat: repeat-y;
    background-size: 100%;
}
.header{
    text-align: center;
    color: honeydew;
    font-weight: bolder;
}
.container{
    display: block;
    position: relative;
}
#right-btn{
    float: right;
    right: 6%;
    position: relative;
}
.controlBtn{
    display: block;
    position: relative;
}
.rows{
    display: inline-block;
    height: 35px;
    width: 155px;
    text-align: center;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.9;
    border: aliceblue;
    border-radius: 20px;
    background-color: black;
    color: blanchedalmond;
}


.rows:focus {outline:0;}
.list{
    text-align: center;
    display: block;
}
.book-list{
   display: inline-block; 
   text-align: center;
}
.headersec{
    text-align: center;
    margin-top: 20%;
    color: rgb(14, 9, 9);
    font-size: 40px;
    font-weight: 900;
    background-color: rgba(255, 255, 255, 0.596);
}
.book-list{
        text-align: center;
    display: block;
}
#table{
    animation: fadein 2s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.list-edit{
    display: block;
}
.text{
    font-size: 30px;
    color: rgb(39, 8, 61);
    background-color: rgba(245, 222, 179, 0.364);
    width: max-content;
    text-align: center;
    display: inline-block;
    margin: 30px;
}
